@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  animation-name: fadein;
  animation-duration: 5s;
  padding: 3vh 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

* {
  font-family: "Manjari", sans-serif;
  color: white;
  font-weight: 200;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 50px;
}

form {
  height: 100%;
  display: inline-block;
}

#search {
  height: 100%;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("pictures/searchicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
  opacity: 0.5;
}

#searchfield {
  width: 0;
  visibility: hidden;
  opacity: 0.5;
  height: 70%;
  padding-top: 5px;
  vertical-align: top;
  font-size: 2rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  background-color: transparent;
  transition: 0.7s;
}

::placeholder {
  color: white;
}

#searchfield:focus {
  opacity: 1;
  outline: none;
}

#suggestion {
  position: absolute;
  background-color: rgba(39, 39, 39, 0.712);
  list-style-type: none;
  margin: 0 0 0 45px;
  padding: 0 10px;
  width: 383px;
  max-height: 400px;
}

li {
  color: rgb(192, 192, 192);
  border-bottom: 1px solid;
  line-height: 35px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

li:hover {
  background-color: rgb(128, 128, 128);
  color: white;
}

.focus {
  background-color: rgb(128, 128, 128);
  color: white;
}

#errormessage {
  width: 401px;
  height: 0px;
  line-height: 40px;
  color: rgb(203, 58, 58);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.357), rgba(255, 255, 255, 0));
  margin: -11px 0 0 45px;
  opacity: 0;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.7s;
}

#cancel {
  position: absolute;
  visibility: hidden;
  margin-left: -42px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("pictures/crossicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
  opacity: 0.5;
}

#refresh {
  height: 100%;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("pictures/refreshicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  transition: 0.3s;
  opacity: 0.5;
}

#search:hover,
#refresh:hover,
#cancel:hover {
  opacity: 1;
}

#city {
  font-size: 6rem;
  line-height: 0;
}

#temp {
  font-size: 13rem;
  line-height: 0;
  margin-top: 170px;
}

#tempminmax {
  line-height: 0;
  margin-top: -90px;
  font-size: 3rem;
  text-align: center;
}

#date {
  font-size: 3rem;
  margin: -30px 0;
  display: inline-block;
  padding: 5px;
}

#description {
  font-size: 3rem;
  text-transform: capitalize;
  padding: 50px 0 50px 150px;
  margin-top: 10px;
  margin-left: -20px;
  background-repeat: no-repeat;
  background-size: contain;
}

#forecastwrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  font-size: 2rem;
  justify-content: space-between;
}

.forecastday {
  padding-top: 10px;
}

.forecasticon {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center 10px;
  background-color: rgba(0, 0, 0, 0.363);
}

.forecastdescription {
  padding: 150px 0 10px 0;
  text-transform: capitalize;
}
